body{
    background: #078a8394;
    font:normal 15pt Helvetica;
}
header{
    color: white;
    text-align: center;
    font: bold 15pt helvetica;
}
section{
    background: white;
    border-radius:10px;
    padding: 50px;
    width: 700px;
    margin: auto;
}
div {
    margin-top: 10px;
    padding: 5px;
}
footer {
    color: white;
    text-align: center;
    margin-top: 15px;
}