body {
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 60, 0);
    font: bold;
}
h1 {
    text-align: center;
}

img {
    float: left;
    height: 350px;
    width: 350px;
}
button {
    padding: 8px;
    margin: 5PX;
    border: 5px;
    border-radius: 6px;
    background: rgba(251, 59, 0, 0.637);
    color: white;
    height: auto;
    width: auto;
}
button:hover {
    background: rgb(255, 81, 0);
    height: auto;
    width: auto;
}

section {
    position: absolute;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;

}

.flex-box#input {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-box#output {
    align-items: top;
    justify-content: center;

}

div#buttons {
    position: absolute;
    align-items: center;
    height: 50px;
    padding: 15px;
    margin-left: 70px;
    margin-top: 25px;
}
  
.container-box {
    height: 300px;   
}

p {
    display: flex;
    align-items: center;
}

